<div class="row">

  <div class="col-md-4">
   <form class="form well">
     <h4>Add new table</h4>
     <div class="form-group">
      <label>Table seats</label>
       <input type="number" id="table_seats" class="form-control" val="0"/>
     </div>
     <button type="button" class="btn btn-success" id="add_new_table">Add table</button>
   </form>
    <br />
    <a href="">Back</a>
  </div>
  
  
  <div class="col-md-6 col-md-offset-2">
    <h4>Odje bi mogao ici graficki prikaz (grid) koj se menja kako dodajes stolove</h4>
  </div>

</div>