<div class="row">

  <div class="col-md-4">
   <form class="form well">
     <h4>Add new table</h4>
     <div class="form-group">
      <label>Table seats</label>
       <input type="number" id="table_seats" class="form-control" val="0"/>
     </div>
     <button type="button" class="btn btn-success" id="add_new_table">Add table</button>
   </form>
    <br />
    <a href="">Back</a>
  </div>
  
  
  <div class="col-md-8 panel">
    <div class="col-md-8 table_grid">
      <div class="col-md-2 well table_view" id="1">
      </div>
      <div class="col-md-2 well table_view" id="2">
      </div>
      <div class="col-md-2 well table_view" id="3">
      </div>
      <div class="col-md-2 well table_view" id="4">
      </div>
      <div class="col-md-2 well table_view" id="5">
      </div>
      <div class="col-md-2 well table_view" id="6">
      </div>
      <div class="col-md-2 well table_view" id="7">
      </div>
      <div class="col-md-2 well table_view" id="8">
      </div>
      <div class="col-md-2 well table_view" id="9">
      </div>
      <div class="col-md-2 well table_view" id="10">
      </div>
      <div class="col-md-2 well table_view" id="11">
      </div>
      
      <div class="col-md-2 well table_view" id="12">
      </div>
      <div class="col-md-2 well table_view" id="13">
      </div>
      <div class="col-md-2 well table_view" id="14">
      </div>
      <div class="col-md-2 well table_view" id="15">
      </div>
      <div class="col-md-2 well table_view" id="16">
      </div>
      
      <div class="col-md-2 well table_view" id="17">
      </div>
      <div class="col-md-2 well table_view" id="18">
      </div>
      <div class="col-md-2 well table_view" id="19">
      </div>
      <div class="col-md-2 well table_view" id="20">
      </div>
      <div class="col-md-2 well table_view" id="21">
      </div>
      <div class="col-md-2 well table_view" id="22">
      </div>
      <div class="col-md-2 well table_view" id="23">
      </div>
      <div class="col-md-2 well table_view" id="24">
      </div>
      
       <div class="col-md-2 well table_view" id="25">
      </div>
      <div class="col-md-2 well table_view" id="26">
      </div>
      <div class="col-md-2 well table_view" id="27">
      </div>
      <div class="col-md-2 well table_view" id="28">
      </div>
      <div class="col-md-2 well table_view" id="29">
      </div>
      
      <div class="col-md-2 well table_view" id="30">
      </div>
      <div class="col-md-2 well table_view" id="31">
      </div>
      <div class="col-md-2 well table_view" id="32">
      </div>
      <div class="col-md-2 well table_view" id="33">
      </div>
      <div class="col-md-2 well table_view" id="34">
      </div>
      <div class="col-md-2 well table_view" id="35">
      </div>
      
      
  </div>

</div>