

<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Reservation for restaurant: <b><%= @curr_restaurant.name %></b></h3>
			 	</div>
			  	<div class="panel-body">
                    <%= form_tag({controller: "reservation", action: "create"}, method: "post") %>
                    <fieldset>
                        <input type="hidden" id="restaurant_id", val="<%=@curr_restaurant.id %>">
                        
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Choose a date" id="date" name="date" data-provide='datepicker'>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Duration in hours" id="duration" name="duration" type="number" value="">
			    		</div>
			    		<div class="form-group">
                            <label>Select a table: </label>
			    	        <select id="table_id" class="form-control" placeholder="Select a table">
                              <%=options_for_select( @available_tables) %>
                            </select>
			    	    </div>
			    		<button class="btn btn-lg btn-success btn-block" type="button" id="add_visit" value="Continue">
                          Continue
                      </button>
			    	</fieldset>
                   
			    </div>
			</div>
		</div>
       
<div class="grid-stack">
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="4" data-gs-height="2">
            <div class="grid-stack-item-content"></div>
    </div>
    <div class="grid-stack-item"
        data-gs-x="4" data-gs-y="0"
        data-gs-width="4" data-gs-height="4">
            <div class="grid-stack-item-content"></div>
    </div>
</div>

<script type="text/javascript">

</script>
    
   
</div>
    
</div>